@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@600;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image:
        linear-gradient(to right,
          hsl(157, 50%, 95%),
          hsl(157, 25%, 95%),
          hsl(157, 50%, 95%));
    font-family: 'Montserrat';
}

.contenedor_principal{
    display: grid;
    grid-template-columns: 30% 1fr;
    max-width: 1000px;
    margin-inline: auto;
    grid-template-rows: 8rem min-content;
    background-color: white;
    border-inline: 1px solid black;
}

header{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 8rem;
    border-bottom: 1px solid black;
    display: grid;
    place-items: center;
}

main{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    max-height: 100%;
    overflow-y: auto;
    
} 



.informacion_personal {
    background-color: rgb(22, 199, 175);
    min-height: 100vh;
    min-height: 100vhs;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-size: 0.9rem;
    font-weight: 400;
    grid-column: 1/2;
    grid-row: 1/3;
    border-right: 1px solid black;
}

.informacion_bloque{
    max-width: 85%;
    width: 100%;
} 

.informacion_bloque>p{
    padding-top: 1rem;
    white-space: "normal";
    word-break: break-all;
}

.blanco.habilidad>i:first-child{
    padding-left: 0.5rem;
}

h1 {
    font-size: 2.7589rem;
    text-align: center;
    font-weight: 800;
    padding-top: 1rem;
}

h2 {
    padding-bottom: 0.5rem;
    color: white;
    font-size: 1rem;
    border-bottom: 1px solid white;
    margin-top: 2rem;
    font-weight: 800;
}

h3{
    margin-bottom: 0.5rem;
    font-weight: 700;
    width: fit-content;
    margin-right: 0;
    color: black;
}

.subtitulo_negro{
    color: black;
    margin-top: 0px;
    padding-top: 1.8rem;
    margin-bottom: 1rem;
}

.informacion_personal>img {
    border-radius: 50%;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    width: 55%;
    border: 1px outset hsl(0, 0%, 5%);
}

.fa-stack{
    float: left;
    font-size: 1.9rem;
    margin-left: 3rem;
    padding-left: 0px;
    padding-right: 1rem;
    padding-top: 0.8rem;
}

.experiencia_contenido{
    position:relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.experiencia_contenido::before{
    content: "";
    border-left: 1px solid black;
    height: 90%;
    top:0.7rem;
    left: -0.64rem;
    z-index: -1;
    position: absolute;
    margin-left: 3rem;
}

.circulo{
    width: 0.5rem;
    border-radius: 50%;
    margin-left: -0.85rem;
    display: block;
    background-color: black;
    height: 0.5rem;
    align-self: center;
}

.experiencia_fecha{
    position:relative;
    isolation: isolate;
    display: flex;
    margin-top: 1rem;
    grid-area: fecha;
}

.experiencia_informacion{
    min-width: 20rem;
    margin-top: 0.8rem;
    grid-area: descripcion;
}

.experiencia_fecha>date{
    margin-left: 1rem;
}

.experiencia_contenido>li{
    display: grid;
    grid-template-columns: 11rem 1fr;
    grid-template-rows: 2rem 1fr;
    grid-template-areas: 
        "fecha descripcion"
        "empty descripcion";
    margin-left: 3rem;
} 

.experiencia_contenido>li>:first-child{
    min-width: 10rem;
}



.icono_habilidades{
    padding-right: 0.2rem;
    padding-top: 1.5rem;
    color: white;
}

.habilidad{
    margin-right:1rem;
}

.empleador_localidad{
    font-family: 'Lora', serif;
    color: rgb(22, 199, 175);
}

.experiencia_institucion_localidad{
    font-family: 'Lora', serif;
    color: #16c7af;
}

 .experiencia_informacion{
    /* translate: 0 0; */
    transition: height 1s ease;
    overflow: hidden;
}

.subtitulo_boton{
    display: flex;
    gap: 0.5rem;
}

.subtitulo_boton>button{
    background: none;
    border: none;
    outline: none;
    height:fit-content;
    padding-block: auto;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.subtitulo_boton>button>img{
    width: 1.5rem;
    height: 1.5rem;
    transition: rotate 1s linear;
}

.experiencia_informacion[mostrar-info] img{
    rotate: 180deg;
}


  @media screen and (max-width: 992px) {
    .contenedor_principal{
        display: grid;
        grid-template-columns:1fr;
        max-width: 1000px;
        margin-inline: auto;
        /* grid-template-rows: 8rem; */
        background-color: white;
        border-inline: 1px solid black;
        grid-auto-rows: fit-content;
    }
    
    .informacion_personal{
        grid-column: unset;
        grid-row: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: auto;
        border-right: 1px solid black;
        padding-bottom: 3rem;
        justify-items: center;
        align-items: baseline;

    }
    
    .informacion_personal>img{
        grid-column: 1/-1;
        place-self: center;

    }

    /* .informacion_personal>*:not(img){
        align-self: baseline;
        justify-self: center;
    } */

    header{
        grid-column: unset;
        grid-row: 1/2; 
        height: 8rem;
        border-bottom: 1px solid black;
        display: grid;
        place-items: center;
    }
    
    main{
        grid-column: unset;
        grid-row: unset;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        gap: 1rem;
        max-height: 100%;
        overflow-y: auto;
        margin-inline: auto;
    }

    /* .experiencia_contenido>li{
        display: grid;
        grid-template-columns: 11rem 1fr;
        grid-template-rows: 2rem 1fr;
        grid-template-areas: 
            "fecha fecha"
            "descripcion descripcion";
        margin-left: 3rem;
    } */

    .informacion_personal>img {
        border-radius: 50%;
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
        width: 8rem;
        border: 1px outset hsl(0, 0%, 5%);
    }
  }
  @media screen and (max-width: 640px) {
    .contenedor_principal{
        display: grid;
        grid-template-columns:1fr;
        max-width: 1000px;
        margin-inline: auto;
        grid-template-rows: 8rem;
        background-color: white;
        border-inline: 1px solid black;
    }

    .informacion_personal{
        grid-column: unset;
        grid-row: unset;
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-columns: 1fr 1fr; */
        min-height: auto;
        border-right: 1px solid black;
        padding-bottom: 3rem;
        place-items: center;
    }

    .informacion_personal>img{
        margin-right: auto;
        margin-left: auto;
    }

    aside{
        grid-column: unset;
        grid-row: unset;
        border-right: 1px solid black;
        padding-bottom: 3rem;
    }
    
    header{
        grid-column: unset;
        grid-row: 1/2; 
        height: 8rem;
        border-bottom: 1px solid black;
        display: grid;
        place-items: center;
    }
    
    main{
        grid-column: unset;
        grid-row: unset;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        display: grid;
        gap: 1rem;
        max-height: 100%;
        overflow-y: auto;
        place-items: center;
    }

    .experiencia_contenido>li{
        display: grid;
        grid-template-columns: 11rem 1fr;
        grid-template-rows: 2rem 1fr;
        grid-template-areas: 
            "fecha fecha"
            "descripcion descripcion";
        margin-left: 3rem;
    }
  }
/* .oculto{
    translate: 0 -100%;
    opacity: 0;
    max-height: 0;
}   */



/* .experiencia_fecha{
    position:relative;
    isolation: isolate;
}

.experiencia_fecha::before{
    content: "";
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: black;
    height: 50%;
    position: absolute;
    left: -0.85rem;
    top: 0.25rem;
} */

/* .experiencia_fecha{
    position:relative;
    isolation: isolate;
    display: flex;
}
.experiencia_fecha>p{
    margin-left: 1rem;
}
.experiencia_contenido>li{
    display: flex;
}

.experiencia_contenido>li>:first-child{
    min-width: 10rem;
} */

/* 
.informacion_Personal {
    width: 18.5rem;
    background-color: rgb(22, 199, 175);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacion_Personal {
    width: 18.5rem;
    background-color: rgb(22, 199, 175);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: calc(18.5rem * 0.1);
}

 .informacion_bloque{
    width: clamp( 16rem, 80%, 80%);
} 

 .informacion_bloque{
    width: 80%;
    padding-inline: 10%;
} */

/* .blanco {
    color: white;
    padding-top: 1rem;
    font-size: 0.9rem;
} */
