
*{
    margin: 0px;
    padding: 0px;
}

#informacion_Personal {
    width: 20%;
    float: left;
    background-color: rgb(9, 122, 122);
    min-height: 660px;
}

#informacion_Laboral {
    float: left;
    width: 70%;
    min-height: 660px;
}

#linea_Horizontal {
    float: left;
    height: 150px;
    border-left: 1px solid black;
}

.linea {
    height: 10px;
    border-top: 1px solid white;
    max-width: 200px;
    margin-left: 15%;
}

h2 {
    padding-top: 10%;
    padding-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    font-size: 25px;
    border-bottom: 1px solid white;

}
h1 {
    border-bottom: 1px solid black;
    font-size: 70px;
    margin-right: 170px;
    margin-left: 80px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.subtitulo_Negro{
    color: black;
    margin-top: 0px;
    padding-top: 30px;
}

.blanco {
    padding-left: 15%;
    color: white;
    padding-top: 15px;
}

img {
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 10%;
    size-adjust: 500px;
}

.fecha{
    padding-bottom: 100px;
}


.fa-stack{
    float: left;
    font-size:30px;
    margin-left: 50px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 0.8rem;

}

.icono_Contacto{
    float: left;
    padding-left: 15%;
    padding-right: 5%;
    padding-top: 15px;
    color: white;
}

.experiencia_contenido{
    position:relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.experiencia_contenido::before{
    content: "";
    border-left: 1px solid black;
    height: 95%;
    top:0;
    left: -10px;
    z-index: -1;
    position: absolute;
}

/* .experiencia_fecha{
    position:relative;
    isolation: isolate;
}

.experiencia_fecha::before{
    content: "";
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: black;
    height: 50%;
    position: absolute;
    left: -0.85rem;
    top: 0.25rem;
} */

/* .experiencia_fecha{
    position:relative;
    isolation: isolate;
    display: flex;
}
.experiencia_fecha>p{
    margin-left: 1rem;
}
.experiencia_contenido>li{
    display: flex;
}

.experiencia_contenido>li>:first-child{
    min-width: 10rem;
} */

.experiencia_fecha{
    position:relative;
    isolation: isolate;
    display: flex;
}
.experiencia_fecha>p{
    margin-left: 1rem;
}
.experiencia_contenido>li{
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 2rem fit-content;
}

.experiencia_contenido>li>:first-child{
    min-width: 10rem;
}

.circulo{
    width: 0.5rem;
    border-radius: 50%;
    margin-left: -0.9rem;
    display: block;
    background-color: black;
    height: 0.5rem;
    align-self: center;
}

.experiencia_informacion{
    min-width: 20rem;
}